 /* The code below is for every page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: sienna;
    /* background-color: rgba(144, 238, 144, 0.35); */
}

div.contentWindow{
    width: 1000px;
    padding: 20px;
    background-color: white;
    border: double darkgoldenrod 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

/* The code below is just for the homepage (and the one exception of the very first one. lol) */
#homepage, #recipe{
    width: 1200px;
    background-color: papayawhip;
    margin-left: auto;
    margin-right: auto;
}

body#homepage, body#recipe{
    padding-top: 10px;
}


#homepage h1.bordered{
    border: inset sienna 10px;
}

#homepage h1{
    display: block;
    width: 300px;
    background-color: white;
    text-align: center;
    font-size: 48px;
    /* margin-top: 20px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}    

#homepage ul{
    padding-bottom: 20px;
    margin-top: 30px;
}

#homepage li{
    display: block;
    width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid  sienna 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    /* background-color: lightyellow; */
    background-color: lemonchiffon;
}

#homepage a{
    color: black;
    font-size: 24px;
}

/* All the code below is for the recipe pages. */

body#recipe{
    padding-left: 30px;
    padding-right: 30px;
    /* font-size: 18px; */
}

.spacedBelow{
    margin-bottom: 10px;
}

#recipe h1, #recipe h2{
    width: fit-content;
    border-bottom: inset sienna 3px;
}

#recipe h1{
    margin-bottom: 10px;
}

#recipe h2{
    margin-bottom: 5px;
}

hr{
    margin-bottom: 20px;
}

.recipeCredit{
    margin-bottom: 5px;
}

.credit{
    width: 250px;
    margin-left: 0px;
    margin-bottom: 0px;
    /* background-color: orange; */
}

#homeButtonSpacing{
    margin-top: 20px;
    padding-bottom: 20px;
}